---
import CodingHours from '~/components/coding-hours.astro';
import ContactMe from '~/components/contact-me.astro';
import Intro from '~/components/intro/intro.astro';
import { Location } from '~/components/location';
import ProjectContent from '~/components/project/project-content.astro';
import ProjectDescription from '~/components/project/project-description.astro';
import ProjectImage from '~/components/project/project-image.astro';
import ProjectTitle from '~/components/project/project-title.astro';
import Project from '~/components/project/project.astro';
import SectionDescription from '~/components/section/section-description.astro';
import SectionTitle from '~/components/section/section-title.astro';
import Section from '~/components/section/section.astro';
import TechStack from '~/components/tech-stack.astro';
import { buttonStyles } from '~/components/ui/button';
import { HOME, SITE } from '~/config/consts';
import { projects } from '~/config/projects';
import Main from '~/layouts/main.astro';
---

<Main title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <div>
    <Intro />

    <Section>
      <SectionTitle>Work</SectionTitle>
      <SectionDescription>
        A look at what's keeping me busy
      </SectionDescription>
    </Section>

    {
      projects
        .slice(0, SITE.PROJECTS_ON_HOMEPAGE)
        .map(({ name, description, image, alt, url }) => (
          <Project href={url}>
            <ProjectContent>
              <ProjectTitle>{name}</ProjectTitle>
              <ProjectDescription>{description}</ProjectDescription>
            </ProjectContent>

            <ProjectImage alt={alt} image={image} />
          </Project>
        ))
    }

    <div
      class='border-grey-line flex items-center justify-center border-b py-6'
    >
      <a class={buttonStyles({ class: 'animate' })} href='/work'>
        See all projects
      </a>
    </div>

    <Section>
      <SectionTitle>About me</SectionTitle>
      <SectionDescription>A sneak peek of who I am</SectionDescription>
    </Section>

    <div
      class:list={[
        'divide-grey-line border-grey-line relative grid grid-cols-1 divide-y divide-dashed border-b',
        'sm:grid-cols-3',
      ]}
    >
      <TechStack />
      <CodingHours />
      <Location client:visible />
    </div>

    <ContactMe variant='expanded' />
  </div>
</Main>
