---
import type { Lang } from '~/i18n';
import { ABOUT_TITLE, HOME_TITLE, WORK_TITLE } from '~/config/consts';
import { useTranslations } from '~/i18n';
import NavItem from './nav-item.astro';

const t = useTranslations(Astro.currentLocale as Lang);

const locale = Astro.currentLocale as Lang;
---

<div class='z-[1] flex gap-2'>
  <NavItem href={`/${locale}`}>{t(HOME_TITLE)}</NavItem>
  <NavItem href={`/${locale}/work`}>{t(WORK_TITLE)}</NavItem>
  <NavItem href={`/${locale}/about`}>{t(ABOUT_TITLE)}</NavItem>
</div>
