---
import type { Lang } from '~/i18n';
import ContactMe from '~/components/contact-me.astro';
import Hero from '~/components/hero.astro';
import ProjectContent from '~/components/project/project-content.astro';
import ProjectDescription from '~/components/project/project-description.astro';
import ProjectImage from '~/components/project/project-image.astro';
import ProjectTitle from '~/components/project/project-title.astro';
import Project from '~/components/project/project.astro';
import SectionDescription from '~/components/section/section-description.astro';
import SectionTitle from '~/components/section/section-title.astro';
import Section from '~/components/section/section.astro';
import { WORK_DESCRIPTION, WORK_TITLE } from '~/config/consts';
import { projects, sideProjects } from '~/config/projects';
import { LOCALES, useTranslations } from '~/i18n';
import Main from '~/layouts/main.astro';

const t = useTranslations(Astro.currentLocale as Lang);

export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));
---

<Main title={t(WORK_TITLE)} description={t(WORK_DESCRIPTION)}>
  <main>
    <Hero>{t(WORK_TITLE)}</Hero>

    {
      projects.map(({ name, description, image, alt, url }) => (
        <Project href={url}>
          <ProjectContent>
            <ProjectTitle>{name}</ProjectTitle>
            <ProjectDescription>{t(description)}</ProjectDescription>
          </ProjectContent>

          <ProjectImage alt={alt} image={image} />
        </Project>
      ))
    }

    <Section>
      <SectionTitle>Side projects</SectionTitle>
      <SectionDescription
        >{
          t({
            en: 'Creations born from curiosity',
            es: 'Creaciones nacidas de la curiosidad',
          })
        }</SectionDescription
      >
    </Section>

    {
      sideProjects.map(({ name, description, image, alt, url }) => (
        <Project href={url}>
          <ProjectContent>
            <ProjectTitle>{name}</ProjectTitle>
            <ProjectDescription>{t(description)}</ProjectDescription>
          </ProjectContent>

          <ProjectImage alt={alt} image={image} />
        </Project>
      ))
    }

    <ContactMe variant='collapsed' />
  </main>
</Main>
