---
import '~/styles/global.css';
import '@fontsource/geist-sans';
import '@fontsource/geist-mono';

import Footer from '~/components/footer.astro';
import Header from '~/components/header/header.astro';

const { title, description } = Astro.props;
---

<html lang='en'>
  <head>
    <meta name='generator' content={Astro.generator} />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta charset='utf-8' />
    <meta
      name='theme-color'
      media='(prefers-color-scheme: light)'
      content='white'
    />
    <meta
      name='theme-color'
      media='(prefers-color-scheme: dark)'
      content='black'
    />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='application-name' content='Alexis Guzman' />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:url' content='https://www.codingcodax.dev' />
    <meta property='og:site_name' content={title} />
    <meta property='og:locale' content='en_US' />
    <meta property='og:image' content='https://www.codingcodax.dev/OG.png' />
    <meta property='og:image:width' content='1920' />
    <meta property='og:image:height' content='1080' />
    <meta property='og:image:alt' content='Alexis Guzman Banner' />
    <meta property='og:type' content='website' />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:site' content='@codingcodax' />
    <meta name='twitter:creator' content='@codingcodax' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content='https://www.codingcodax.dev/OG.png' />
    <meta name='twitter:image:width' content='1920' />
    <meta name='twitter:image:height' content='1080' />
    <meta name='twitter:image:alt' content='Alexis Guzman Banner' />
    <link
      rel='icon'
      type='image/png'
      href='/favicons/favicon-96x96.png'
      sizes='96x96'
    />
    <link rel='icon' type='image/svg+xml' href='/favicons/favicon.svg' />
    <link rel='shortcut icon' href='/favicons/favicon.ico' />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/favicons/apple-touch-icon.png'
    />
    <meta name='apple-mobile-web-app-title' content='Alexis Guzman' />
    <link rel='manifest' href='/favicons/site.webmanifest' />
    <link rel='sitemap' href='/sitemap-index.xml' />
  </head>

  <body
    class='bg-grey-base min-h-screen p-2 font-sans antialiased sm:p-4 md:p-6'
  >
    <div
      class='border-grey-line bg-grey-base relative flex flex-col rounded-3xl border'
    >
      <div class='bg-grey-line absolute top-[68px] left-0 h-px w-full'></div>

      <Header />

      <div class='relative mx-auto w-full max-w-screen-lg'>
        <div
          class='bg-grey-line absolute top-0 -left-px hidden h-full w-px lg:inline-block'
        >
        </div>
        <div
          class='border-grey-bg-hover absolute top-0 left-1/3 h-full w-px border border-dashed'
        >
        </div>
        <div
          class='border-grey-bg-hover absolute top-0 right-1/3 h-full w-px border border-dashed'
        >
        </div>
        <div
          class='bg-grey-line absolute top-0 -right-px hidden h-full w-px lg:inline-block'
        >
        </div>

        <slot />

        <Footer />
      </div>

      <div class='bg-grey-line absolute bottom-[68px] left-0 h-px w-full'></div>
    </div>
  </body>
</html>
